* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  width: 100%;
  height: 100vh;
}

.container {
  cursor: pointer;
  position: relative;
  width: 6rem;
  height: 4rem;
}

.container div {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  background-color: white;
  border-radius: 4rem;
  box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.2);
}

.top {
  top: 0;
}

.moveTop {
  animation: moveTp 0.5s;
}

.stopTop {
  top:45%; transform: rotate(45deg);
}

.backTop {
  animation: moveBackTp 0.5s;
}

@keyframes moveTp {
  0% {top:15%; transform: rotate(0deg);}
  15% {top:30%; transform: rotate(0deg);}
  30% {top:45%; transform: rotate(0deg);}
  45% {top:45%; transform: rotate(5deg);}
  60% {top:45%; transform: rotate(15deg);}
  75% {top:45%; transform: rotate(25deg);}
  90% {top:45%; transform: rotate(35deg);}
  100% {top:45%; transform: rotate(45deg);}
}

@keyframes moveBackTp {
  0% {top:45%; transform: rotate(45deg);}
  15% {top:45%; transform: rotate(35deg);}
  30% {top:45%; transform: rotate(25deg);}
  45% {top:45%; transform: rotate(15deg);}
  60% {top:45%; transform: rotate(5deg);}
  75% {top:45%; transform: rotate(0deg);}
  90% {top:30%; transform: rotate(0deg);}
  100% {top:15%; transform: rotate(0deg);}
}

.middle {
  top: 45%;
}

.moveMiddle {
  animation: moveMd 0.5s;
}

.stopMiddle {
  transform: scale(0.5);opacity: 0;
}

.backMiddle {
  animation: moveBackMd 0.5s;
}

@keyframes moveMd {
  0% {transform: scale(0.9);opacity: 1;}
  15% {transform: scale(0.8);opacity: 0.9;}
  30% {transform: scale(0.7);opacity: 0.8;}
  45% {transform: scale(0.6);opacity: 0;}
  60% {transform: scale(0.5);opacity: 0;}
  75% {transform: scale(0.5);opacity: 0;}
  90% {transform: scale(0.5);opacity: 0;}
  100% {transform: scale(0.5);opacity: 0;}
}

@keyframes moveBackMd {
  0% {transform: scale(0.5);opacity: 0;}
  15% {transform: scale(0.5);opacity: 0;}
  30% {transform: scale(0.5);opacity: 0;}
  45% {transform: scale(0.6);opacity: 0;}
  60% {transform: scale(0.7);opacity: 0;}
  75% {transform: scale(0.8);opacity: 0.7;}
  90% {transform: scale(0.9);opacity: 0.8;}
  95% {transform: scale(0.9);opacity: 0.9;}
  100% {transform: scale(1);opacity: 1;}
}

.bottom {
  bottom: 0;
}

.moveBottom {
  animation: moveBtm 0.5s;
}

.stopBottom {
  bottom:42%; transform: rotate(135deg);
}

.backBottom {
  animation: moveBackBtm 0.5s;
}

@keyframes moveBtm {
  0% {bottom:15%; transform: rotate(0deg);}
  15% {bottom:30%; transform: rotate(0deg);}
  30% {bottom:42%; transform: rotate(0deg);}
  45% {bottom:42%; transform: rotate(15deg);}
  60% {bottom:42%; transform: rotate(30deg);}
  75% {bottom:42%; transform: rotate(65deg);}
  90% {bottom:42%; transform: rotate(100deg);}
  100% {bottom:42%; transform: rotate(135deg);}
}

@keyframes moveBackBtm {
  0% {bottom:42%; transform: rotate(135deg);}
  15% {bottom:42%; transform: rotate(100deg);}
  30% {bottom:42%; transform: rotate(65deg);}
  45% {bottom:42%; transform: rotate(30deg);}
  60% {bottom:42%; transform: rotate(0deg);}
  75% {bottom:42%; transform: rotate(0deg);}
  90% {bottom:30%; transform: rotate(0deg);}
  100% {bottom:15%; transform: rotate(0deg);}
}